:root{
  --basic-blue:#32425C;
  --basic-dark-blue:#293449;
  --basic-black:#000000;
  --basic-white:#FFFFFF;
  --basic-red:#EE3643;
  --basic-neutral:#F9F5F0;
  --basic-light-blue:#F1F5F7;
  --basic-yellow:#FFD180;
  --basic-dark-yellow:#FFBF47;
  --basic-sky-blue:#3BBCE3;
  --basic-pink:#DC91D8;
  --basic-light-green:#8ED78F;
  --basic-green: #63A63E;
  --basic-gray:#A9A9A9;
  --basic-light-gray:#F3F7F9;
  --basic-pale-gray:#E5E5E5;
  --basic-pale-blue:#C5C5C5;
  --basic-dark-red:#BA2732;
  --basic-magenta:#161D29;
  --basic-night-blue:#1D2739;
  --basic-bright-red:#CA2C37;
  --basic-linen:#F7F3EC;
  --basic-neutral-gray:#EAEAEA;
  --basic-gray-blue:#3D546F;
  --basic-gray-dark-blue:#212A3A;
  --basic-pearl-gray:#ABABAB;
  --basic-bright-green:#5FBB2D;
  --basic-swamp-green:#518534;
  --basic-dark-green:#367315;
  --basic-light2-gray:#F1F1F1;
  --basic-light2-blue:#283136;
  --basic-pale2-gray:#B5B5B5;
}

body{
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family:"Cuprum", Arial, sans-serif;
  font-size:18px;
  line-height: 24px;
  font-weight: 400;
  background-color: var(--basic-white);
  color: var(--basic-black);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page{
  width: 100%;
}

.main-header{
  margin-bottom: 59px;
}

.main-header-catalog{
  margin-bottom: 21px;
}

.main-navigation{
  background-color: var(--basic-light-blue);
}

.main-header-teh{
  background-color: var(--basic-dark-blue);
}

.container{
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
  }

.main-navigation-wrapper{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.main-header-logo{
  margin: 0;
  padding: 0;
  background-color: var(--basic-red);
  padding: 12px 56px 6px;
  margin-left: 0;
  box-shadow:  0px 5px 0px var(--basic-dark-red);
}

.main-header-logo:active{
  background-color: var(--basic-dark-red);
}

.search{
  display: inline-block;
  position: relative;
  width: 270px;
  margin: 0;  
  padding: 0;
  margin-right: 0;
  vertical-align: middle;
  box-sizing: border-box; 
}

.search-text,
.search-button{
  border: none;
  outline: none;
}

.search-text{
  font-family:"Cuprum", Arial, sans-serif;
  font-size:18px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  width: 230px;
  height: 42px;
  padding-left: 42px;
  background-color: var(--basic-dark-blue);
  opacity: 1;
}

.search-text[type="text"]::-webkit-input-placeholder {
  color: var(--basic-white);
 } 

 .search-text[type="text"]::-moz-placeholder {
  color: var(--basic-white);
 }

.search-button{
  margin: 0;
  padding: 0;
  height: 17px;
  width: 17px;
  position: absolute;
  top:12px;
  left:17px;
  background-color: transparent;
}

.search path{
  opacity: 0.3;
}

.search-text:hover,
.search:hover path{
  opacity: 1;
}

.search-text:active,
.search-text:focus{
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.search-text:focus + .search-button path,
.search-text:active + .search-button path{
  fill: var(--basic-bright-red);
  opacity: 1;
}

.order-list{
  display: flex;
  flex-wrap: wrap;
  width: 450px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.order-item{
  margin-right: 0;
  width: 150px;
}

.order-item a{
  color:var(--basic-white);
  display: block;
}

.order-item:last-child a{
  background-color: var(--basic-green);
  padding-right: 16px;
  padding-left: 19px;
  padding-top: 9px;
  padding-bottom: 9px;
}

.order-item:active a{
  color: rgba(255, 255, 255, 0.5);
}

.order-item:active:not(:last-child) a{
  background-color: var(--basic-magenta);
}

.order-item-bookmarks{
  position: relative;
  padding-right: 24px;
  padding-left: 43px;
  padding-top: 9px;
  padding-bottom: 9px;
}

.order-item-bookmarks::before{
  content: "";
  position: absolute;
  width: 14px;
  height: 16px;
  background-image: url("../img/icon/form/shape.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 12px;
  left:21px;
  opacity: 0.3;
}

.order-item-basket{
  position: relative;
  padding-right: 26px;
  padding-left: 49px;
  padding-top: 9px;
  padding-bottom: 9px;
}

.order-item-basket::before{
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-image: url("../img/icon/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 12px;
  left:25px;
  opacity: 0.3;
}

.order-item-bookmarks:hover:before,
.order-item-basket:hover:before{
  opacity: 1;
}

.order-item-bookmarks:active:before,
.order-item-basket:active:before{
  opacity: 0.3;
}

.main-navigation-wrapper1{
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  }

.header-description{
  width: 200px;
  font-size:16px;
  line-height: 23px;
  font-style: italic;
  color: var(--basic-red);
  min-width: 150px;
  margin: 0;
  padding: 0;
  margin-left: 30px;
  margin-top: 43px; 
  margin-right: 43px;

}

a[href^="tel:"]{  
  margin: 0;
  padding: 0;
  display: block;
  position: relative;
  font-size:21px;
  line-height: 30px;
  font-weight: 700;
  font-style: normal;
  color: var(--basic-red);
  border: 3px solid var(--basic-white);
  padding-top: 4px;
  padding-bottom: 5px;
  padding-left: 67px;
  padding-right: 47px;
  margin-top: 46px;
  box-sizing: border-box;
}

a[href^="tel:"]::before{
  content: "";
  position: absolute;
  width: 19px;
  height: 19px;
  background-image: url("../img/icon/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  left: 31px;
  top:10px;
}

.address{  
  margin: 0;
  padding: 0;
  font-size:14px;
  margin-top: 3px;
  color:var( --basic-blue);
  text-align: center;
}

.user-navigation-list{
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  font-size: 21px;
  line-height: 21px;
  list-style: none;
}

.user-navigation-item{
  margin: 0;
  padding: 0;
  padding-left: 10px;
  margin-top: 46px;
}

.user-navigation-item:first-child{
  padding-left: 0;
}

.user-navigation-item a{
  display: block; 
  padding-top: 12px;
  padding-bottom: 12px;
}

.user-navigation1{
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 18px;
  list-style: none;
  width: 210px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 7px;
  margin-left: 45px;
}

.user-navigation1 li{  
  position: relative;
  margin-right: 17px;
}

.user-navigation1 li:last-child{  
  margin-right: 0px;
}

.user-navigation1 li::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  right: -18px;
  top:7px;
  border-radius: 50%;
  background-color: var(--basic-blue);
}

.user-navigation1 li:last-child::after{
  display: none;
}

.login-link{
  margin: 0;
  padding: 0;
  padding-left: 19px;
  padding-right: 27px;
}

.login-link:hover path{
  fill:var(--basic-gray-blue);
}

.login-link:active path{
  fill:var(--basic-pale-blue);
}

.login-registration{
  padding-left: 24px;
  padding-right: 24px;
}

.login-link,
.login-registration{
  background-color:var(--basic-white);
}

.login-link:hover,
.login-registration:hover{
  color:var(--basic-red);
}

.login-link:active,
.login-registration:active{
  color:var(--basic-pale-blue);
}

.user-navigation-list .authorization{
  background-color:var(--basic-white);
  padding-top: 11px;
  padding-right: 14px;
  padding-left: 14px;
}

.authorization span{
  margin: 0;
  padding: 0; 
  padding-left: 19px;
  padding-right: 17px;
}

.user-navigation-item:hover path{
fill: var(--basic-gray-blue);
}

.user-navigation-item:focus path,
.user-navigation-item:active path{
  fill: var(--basic-pale-blue);
  }

.authorization:active{
  color:var(--basic-pale-blue);
}

.ordering,
.personal-account{
  color:var(--basic-blue);
}

.ordering:hover,
.personal-account:hover{
  color: var(--basic-red);
}

.ordering:active,
.personal-account:active{
  color:var(--basic-pale-blue);
}

.main-navigation-wrapper2{
padding-bottom: 65px;
}

.site-navigation-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  padding: 0;  
  background-color: var(--basic-blue);
  box-shadow: 0px 5px 0px var(--basic-dark-blue);
  list-style: none;
  padding-left: 25px;
}

.site-navigation-list a{
  color:var(--basic-white);
  display: block;
  padding: 16px 28px 15px;
}

.site-navigation-list a:hover{
  background-color: var(--basic-dark-blue);
}

.site-navigation-list a:active{
  background-color: var(--basic-night-blue);
  color: rgba(255, 255, 255, 0.5);
}

.user-navigation-list a {
  color:var(--basic-black);
}

.promo-block{
  margin-bottom: 59px;
}

.promo-list{  
  margin: 0;
  padding: 0;
  display:grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 123px 123px 123px;
  gap: 20px;
  color:var(--basic-white);
}

.promo-item{
  padding-left: 23px;
  padding-top: 20px;
}

.promo-item-title{
  font-size:24px;
  line-height: 30px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  margin-bottom: 14px;
}

.promo-item-material,
.promo-item-delivery{
  position: relative;
  background-color: var(--basic-dark-yellow);
}

.promo-item-tool{
  position: relative;
  background-color: var(--basic-sky-blue);
}

.promo-item-technic{
  position: relative;
  background-color: var(--basic-pink);
}

.promo-item-sale{
  position: relative;
  background-color: var(--basic-light-green);
}

.promo-item-material::before{
  content: "";
  position: absolute;
  width: 44px;
  height: 65px;
  background-image: url("../img/icon/promo-block/paint-bucket.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  left: 213px;
  top:31px;
}

.promo-item-material::after{
  content: "";
  position: absolute;
  width: 70px;
  height: 70px;
  background-image: url("../img/icon/new.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  top:0;
  right:0
}

.promo-item-tool::before{
  content: "";
  position: absolute;
  width: 75px;
  height: 61px;
  background-image: url("../img/icon/promo-block/drill.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  left: 194px;
  top:34px;
}

.promo-item-technic::before{
  content: "";
  position: absolute;
  width: 78px;
  height: 62px;
  background-image: url("../img/icon/promo-block/special-equipment.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  left: 191px;
  top:31px;
}

.promo-item-sale::before{
  content: "";
  position: absolute;
  width: 59px;
  height: 72px;
  background-image: url("../img/icon/promo-block/cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  left: 196px;
  top:26px;
}

.promo-item-delivery::before{
  content: "";
  position: absolute;
  width: 78px;
  height: 63px;
  background-image: url("../img/icon/promo-block/path.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  left: 191px;
  top:32px;
}

.promo-button{ 
  display: block;
  width: 135px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size:14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color:var(--basic-white);
  background-color: rgba(255, 255, 255, 0.3);
}

.promo-button:hover{
  background-color: rgba(197, 197, 197, 0.3);
}

.promo-button:active{
  background-color: rgb(169, 169, 169, 0.3);
}

.promo-item-gallery{
  position: relative;
  grid-column: span 2;
  grid-row: span 2;
  z-index: 1;
  background-image: url("../img/slider/hammer-drill.png");
  background-repeat: no-repeat;
}

.slider-list{
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: 24px;
  margin-top: 23px;
}

.slide {
  display: none;
}

.slide-current {
  display: block;
}

.slide-title{ 
  font-size:36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
}

.slide-text{
  font-weight: 400;
  font-size:18px;
  line-height: 24px;
  padding: 0;
  margin: 0;  
  margin-bottom: 118px;
}

.slide-button{
  padding: 10px 46px;
}

.slider-controls {
  position: absolute;
  text-align: center;
  bottom: 36px;
  left:295px;
  z-index: 20;
  display: flex;
  width: 30px;
  justify-content: space-between;
}

.slider-controls button {
  padding: 0;
  width: 10px;
  height: 10px;
  background-color: var(--basic-red);
  border: 2px solid var(--basic-white);
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls .current{
  background-color: var(--basic-white);
}

.slider-button {
  position: absolute;
  text-align: center;
  bottom: 104px;
  left:24px;
  z-index: -1;
  display: flex;
  width: 576px;
  justify-content: space-between;
}

.slider-button-back{
  width: 22px;
  height: 40px;
  background-color: transparent;
  background-image: url("../img/icon/form/icon-left.svg");
  background-repeat: no-repeat;
}

.slider-button-next{
  width: 22px;
  height: 40px;
  background-color: transparent;
  background-image: url("../img/icon/form/icon-left.svg");
  background-repeat: no-repeat;
  transform: rotate(180deg);
}

.button{
  font-weight: 400;
  font-size:14px;
  line-height: 18px;
  background-color: var(--basic-red);
  color: var(--basic-white);
  text-transform: uppercase;
  text-align: center;
}

.button:hover{
  background-color: var(--basic-bright-red);
}

.button:active{
  background-color: var(--basic-dark-red);
}

.page-catalog {
  display: grid;
  grid-template-columns: 220px 1fr;
  column-gap: 20px;
  align-content: start;
  margin-bottom: 5px;
}

.page-catalog .page-title{  
  grid-column: 1/-1;
  background-color: var(--basic-light-blue);  
  padding-top: 29px;
  padding-bottom: 30px;
  padding-left: 29px;
  margin-bottom: 20px;
}

.breadcrumbs{  
  margin: 0;
  padding: 0;
  order: -1;
  grid-column: 1/-1;
  font-family:"PT Sans", Arial, sans-serif;
  font-size:13px;
  line-height: 18px;
  text-transform: uppercase;
  list-style: none;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.breadcrumbs-item{  
  position: relative;
  margin-right: 41px;
}

.breadcrumbs-item:last-child{  
  margin-right: 0px;
}

.breadcrumbs a {  
  margin: 0;
  padding: 0;
  color: var(--basic-black);
}

.breadcrumbs-item::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 12px;
  background-image: url("../img/icon/form/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  top:2px;
  right: -25px;
}

.breadcrumbs-current::after {
  display: none;
}

.filter-title,
.sorting-title,
.sorting-list{
  font-family:"PT Sans", Arial, sans-serif;
  font-size:13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--basic-linen);
}

.filter-title{
  margin: 0;
  padding-left: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 14px;
}

.filter{
  margin: 0;
  padding: 0;
  width: 220px;
}

.filters{
  margin: 0;
  padding: 0;
  border: none;
}

.filters-price{
  margin: 0;
  padding: 0;
}

.filter-name{
  font-family:"PT Sans", Arial, sans-serif;
  font-size:17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;  
}

.filter-name-price{
  margin-bottom: 13px;
}

.range-filter{
  margin-bottom: 42px;
}

.range-controls {
  position: relative;
  height: 41px;
  background-color: var(--basic-linen);
  border-radius: 5px;
  margin-bottom: 9px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
}

.range-controls .scale {
  height: 2px;
  background: var(--basic-pale-blue);
}

.range-controls .bar {
  width: 85%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--basic-pearl-gray);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--basic-pearl-gray);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  text-transform: uppercase;
  font-family:"PT Sans", Arial, sans-serif;
  font-size: 17px;
}

.price-controls input {
  width:75px;
  padding: 10px;
  text-align: center;
  color: var(--basic-light2-blue);
  border: none;
  border-radius: 5px;
  background: var(--basic-white);
  font-family: inherit;
  font-size: inherit;
}

.filters-manufactures{
  margin-bottom: 27px;
}

.filter-name-manufacturers{
  margin-bottom: 18px;
}

.filter fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.filter-option{
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-option-item{
  font-family:"PT Sans", Arial, sans-serif;
  font-size:15px;
  line-height: 19px;
  font-weight: 400;
  padding-left: 35px;
  margin-bottom: 21px;
  text-transform: uppercase;
}

.filter-option-item label{
  display: block;
  cursor: pointer;
  user-select: none;
}

.filters-manufactures .filter-option-item,
.filters-batteries .filter-option-item{
  position: relative;
} 

.filters-manufactures .filter-option-item{
  margin-bottom: 20px;
}

.filters-batteries .filter-option-item{
  margin-bottom: 23px;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left:0px;
  top:-1px;
  width: 19px;
  height: 19px;
  border: 2px solid var(--basic-pale-blue);
  border-radius: 5px;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: -1px;
  left: 4px;
  width: 22px;
  height: 17px;
  background-image: url("../img/icon/form/checkmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:hover + label::before{
  border: 2px solid var(--basic-pale2-gray);
}

.filter-input-checkbox:checked:hover + label::after {
  background-image: url("../img/icon/form/checkmark-hover.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:disabled+ label{
  opacity: 0.4;
}

.filter-input-checkbox:checked:disabled+ label{
  opacity: 0.4;
}

.filters-manufactures input:focus ~ label::before {
  border: 2px solid var(--basic-black);
}

.filters-batteries{
  margin-bottom:15px;
}

.filter-name-batteries{
  margin-bottom: 24px;
}

.filter-radio-item{
  margin-bottom: 22px;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: 0px;
  top: -3px;
  width: 15px;
  height: 15px;
  border: 5px solid var(--basic-pale-blue);
  border-radius: 50%;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 6px;
  width: 10px;
  height: 10px;
  background-color: var(--basic-pale-blue);
  border-radius: 50%;
}

.filter-input-radio:hover + label::before{
  border: 5px solid var(--basic-pale2-gray);
}

.filter-input-radio:checked:hover + label::after{
  background-color: var(--basic-pale2-gray);
  border-radius: 50%;
}

.filter-input-radio:disabled+label{
  opacity: 0.4;
}

.filter-input-radio:checked:disabled+label{
  opacity: 0.4;
}

.filters-batteries input:focus ~ label::before {
  border: 5px solid var(--basic-black);
}

.filter-button{
  font-family:"PT Sans", Arial, sans-serif;
  font-size:13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--basic-white);
  border: 1px solid var(--basic-pale-gray);
  box-sizing: border-box;
  padding-right: 79px;
  padding-left: 78px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.popular-products-wrapper,
.service-container{
  margin-bottom: 50px;
}

.header-popular-products,
.header-popular-manufacturers{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--basic-neutral);
  margin-bottom: 20px;
}

.title-delivery,
.title-popular-manufacturers,
.title-popular-products,
.page-title{
  margin: 0;
  padding: 0;
  font-size:30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--basic-blue);
}

.title-popular-manufacturers,
.title-popular-products{
  padding-left:28px;
  padding-top: 29px;
  padding-bottom: 30px;
}

.title-popular-products-button,
.title-popular-manufacturers-button{
  width: 192px;
  margin-right: 14px;
  padding-bottom: 9px;
  padding-top: 11px;
}

.popular-products-list,
.catalog-list{
  list-style: none;
}

.popular-products-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.popular-products-item{
  display: flex;
  position: relative;
  flex-direction: column;
  width: 220px;
  height: 318px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid var(--basic-neutral-gray);
  box-sizing: border-box;
}

.popular-products-item:nth-child(2n)::after{
  content: "";
  position: absolute;
  width: 70px;
  height: 70px;
  background-image: url("../img/icon/new.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 0;
  right: 0;
}

.popular-products-item:nth-child(4n){
  margin-right: 0;
}

.popular-products-title{
  font-family:"PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  margin-top: 6px;
  margin-bottom: 8px;
  margin-right: 17px;
  margin-left: 16px;
  text-align: center;
}

.popular-products-title span{
  text-transform: uppercase;
}

.popular-products-image{
  padding: 0;
  margin: 0;
  width: 220px;
  height: 170px;
  margin-bottom: 3px;
  order:-1;
}

.popular-products-image img{
  display: block;
  position: relative;
  top: 43%;
  left: 41%;
  transform: translate(-40%,-40%);
  object-fit: cover;
}

.price{
  position: relative;
  font-family:"PT Sans", Arial, sans-serif;
  font-weight: 700;  
  font-size:17px;
  line-height: 18px;  
  margin: 0;
  padding: 0;  
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;  
}

.price-old{
  color: var(--basic-gray);
}

.price-new{
  position: relative;
  float: left;
  padding-right: 26px;
  padding-left: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--basic-red);
  color: var(--basic-white);
  margin-top: 14px;
  border-radius: 3px;
}

.price-new::after {
  position: absolute;
  top: 0;
  right: -17px;
  z-index: 1;
  width: 38px;
  height: 38px;
  background-color: var(--basic-red);
  box-shadow: 1px 1px 0 1px var(--basic-red);
  transform: rotate(-45deg) scale(0.66);
  border-radius: 50px 0 0 0;
  content: "";
}

.image{
  display: none;
  width: 218px;
  height: 170px;
}

.image-mask{
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  width: 218px;
  height: 170px;
  margin-bottom: 3px; 
  background-color: var(--basic-white);
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0
}

.image-mask a{
  position: relative;
  font-size:14px;
  line-height: 18px;  
  margin-bottom: 16px;
  margin-left: 41px;
  margin-right: 44px; 
  text-transform: uppercase;
  text-decoration: none;
}

.image-mask a:first-child{
  margin-top: 38px;
}

.button-buy {
  position: relative;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 52px;
  background-color: var(--basic-green);
  box-shadow: 0 5px 0 0 var(--basic-dark-green);
  border-radius: 2px;
  color: var(--basic-white);
}

.button-buy::before{
  content: "";
  position: absolute;
  width: 14px;
  height: 16px;
  background-image: url("../img/icon/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 10px;
  left: 30px;
  opacity: 0.3;
}

.button-buy:hover{
  background-color: var(--basic-bright-green);
}

.button-buy:focus,
.button-buy:active{
  background-color: var(--basic-swamp-green);
}

.button-bookmarks {
  position: relative;
  position: relative;
  padding-top: 8px;
  padding-bottom: 7px;
  color: var(--basic-blue);
  background-color: var(--basic-white);
  border: 3px solid var(--basic-green);
  border-radius: 2px;
  text-align: center;
  box-sizing: border-box;
}

.button-bookmarks:hover{
  border: 3px solid var(--basic-blue);
 }
 
 .button-bookmarks:focus,
 .button-bookmarks:active{
   opacity: 0.5;
  }
 
.popular-products-item:hover{
  box-shadow: 0 0 20px var(--basic-neutral-gray);
}

.popular-products-item:hover .image {
    display: block;
  }

.catalog-list{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.catalog-item{
  display: flex;
  position: relative;
  flex-direction: column;
  width: 220px;
  min-height: 318px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid var(--basic-neutral-gray);
  box-sizing: border-box;
}

.catalog-item:nth-child(2n)::after{
  content: "";
  position: absolute;
  width: 70px;
  height: 70px;
  background-image: url("../img/icon/new.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 0;
  right: 0;
}

.catalog-item:nth-child(3n){
  margin-right: 0;
}

.catalog-item:hover .overlay{
  opacity: 1;
}

.catalog-title{
  font-family:"PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  margin-top: 6px;
  margin-bottom: 8px;
  margin-right: 17px;
  margin-left: 16px;
  text-align: center;
}

.catalog-title span{
  text-transform: uppercase;
}

.catalog-image{ 
  order: -1;
  width: 220px;
  height: 170px;
  margin: 0;
  margin-bottom: 3px;
}

.catalog-image img{
  display: block;
  position: relative;
  top: 43%;
  left: 41%;
  transform: translate(-40%,-40%);
  object-fit: cover;
}

.price-2000 .price-new{
  margin-top: 30px;
}

.catalog-item:hover{
  box-shadow: 0 0 20px var(--basic-neutral-gray);
}

.catalog-item:hover .image {
    display: block;
  }

.popular-manufacturers-wrapper{
  margin-bottom: 47px;
}

.popular-manufacturers-list{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.popular-manufacturers-item{
  width: 220px;
  height: 145px;
  border: 1px solid var(--basic-neutral-gray);
  box-sizing: border-box;
  margin-right: 20px;
  margin-bottom: 22px;
  position: relative;
  box-sizing: border-box;
}
.popular-manufacturers-item:hover{
  box-shadow: 0 0 20px var(--basic-neutral-gray);
}

.popular-manufacturers-item:active,
.popular-manufacturers-item:focus{
  box-shadow: 0 0 20px var(--basic-neutral-gray);
  opacity: 0.5;
}

.popular-manufacturers-item img{
  display: block;
  position: relative;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  object-fit: contain;
}

.popular-manufacturers-item:nth-child(4n){
  margin-right: 0;
}

.container-sorting{
  display: flex;
  flex-wrap:wrap;
  margin: 0;
  margin-bottom: 28px;
  background-color: var(--basic-linen);
}

.sorting-title{
  margin: 0;
  padding: 0;
  padding-left: 20px;
  padding-top: 10px;
  padding-right: 140px;
  padding-bottom: 10px;
}

.sorting-list{
  display: flex;
  flex-wrap:wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 46px;
}

.sorting-item{
  padding-top: 10px;
}

.sorting-item-price{
  padding-right: 70px;
}

.sorting-item-tipe{
  padding-right: 65px;
}

.sorting-item a{
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted var(--basic-red);
}

.sorting-item a:hover{
  color: var(--basic-black);
  border-bottom: 1px solid var(--basic-red);
}

.sorting-item a:active{
  color: var(--basic-red);
  border-bottom: none;
}

.sorting-button-list{
  width: 43px;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-top: 8px;
}

.sorting-button:hover path{
  fill: var(--basic-black);
}

.sorting-button:focus path,
.sorting-button:active path{
  fill: var(--basic-red);
}

.pagination-list{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 25px;
}

.pagination-item{ 
  font-family:"PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin-right: 10px;
  margin-bottom: 5px;
} 

.pagination-item a{
  display: block;
  padding: 10px 15px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  border: 1px solid var(--basic-pale-gray);
  border-radius: 2px;
  box-sizing: border-box;
}

.pagination-item-current a{
  background-color: var(--basic-red);
  color:var(--basic-white);
  border-radius: 2px;
}

.pagination-item:last-child a{
  padding-left: 32px;
  padding-right: 31px;
  text-transform: uppercase;
  border-radius: 2px;
}

.pagination-item a:hover{
  border: 1px solid var(--basic-pale-blue);
  border-radius: 2px;
}

.pagination-item a:active{
  border: 1px solid var(--basic-red);
  border-radius: 2px;
}

.service-container{
  background-color: var(--basic-light-blue); 
  margin: 0;
  padding: 0;
}

.service-container-wrapper{
  display: grid;
  grid-template-columns: 1fr  1fr 1fr;
  position: relative;
}

.service-container-wrapper::after{
  content: "";
  position: absolute;
  width: 468px;
  height: 261px;
  background-image: url("../img/truck.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  top:260px;
  left:471px;
}

.service{
  grid-column: 1/-1; 
  margin: 0;
  padding: 0;
  padding-top: 66px;
 
}

.delivery{
  width: 300px;
  margin: 0;
  padding: 0;
  margin-left: 6px;
  margin-top: 67px;
}

.service-list{
  position: relative;
  width: 240px;
  margin: 0;
  padding: 0;
  margin-top: 72px;
  padding-bottom: 99px;
  list-style: none;
  font-size:21px;
  line-height: 30px;
  font-weight: 700;
}

.service-list::before{
  content: "";
  position: absolute;
  width: 468px;
  height: 261px;
  background-image: url("../img/line.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  top:-40px;
  left:230px;
}

.service-item a{
  display: block;
  width: 217px;
  color:var(--basic-blue);
  background-color: var(--basic-white);
  padding: 0;
  margin: 0;
  padding-left: 22px;
  padding-top: 14px;
  padding-bottom: 18px;
}

.service-item:hover a{
  background-color: var(--basic-dark-blue);
}

.service-item:active a{
  background-color: var(--basic-white);
  color: var(--basic-blue);
}

.service-item a{
  color:var(--basic-white);
  background-color: var(--basic-blue);
}

.title-contacts,
.title-description,
.title-service,
.title-about-punchers{ 
  font-size:30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.title-service{
  margin: 0;
  padding: 0;
  margin-bottom: 23px;
}

.title-delivery{
  margin: 0;
  padding: 0;
  margin-top: 2px;
  margin-bottom:30px;
}

.description-service,
.description-service-contacts,
.about-punchers-description{
  font-family:"PT Sans", Arial, sans-serif;
  font-size:13px;
}

.description-service{
  margin: 0;
  padding: 0;
}

.about-punchers{ 
  margin: 0;
  padding: 0;
  background-color: var(--basic-light-blue);

  }

.title-about-punchers{
  padding-top: 64px;
}

.about-punchers-description{
  margin: 0;
  padding: 0;
  padding-bottom: 70px;
  margin-top: 25px;
}

.general-information{
  padding-top: 70px;
  padding-bottom: 70px;
}

.information{
  display: flex;
  justify-content:space-between ;
}

.description{
  width: 460px;  
  margin: 0;
  padding: 0;

}

.title-description,
.title-contacts{
  margin: 0;
  padding: 0;
  margin-bottom: 23px;
}

.description-service-description {
  padding-top: 25px;
}

.description-service-contacts{
  margin: 0;
  margin-bottom: 32px;
}

.description-list{
  list-style:none ;
  margin: 0;
  padding: 0;
  padding-left: 37px;
  margin-bottom: 27px;
  margin-top: 3px;
}

.description-item{
  position: relative;
  margin-bottom: 12px;
}

.description-item:before{
  content: "";
  position: absolute;
  width: 25px;
  border: 1px solid var(--basic-red); 
  background-color: var(--basic-red);
  top:12px;
  left: -37px;
}

.description-button{
  padding-top:11px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;  
}

.contacts{
  width: 300px;
  height: 356px;
  margin: 0;
  padding: 0;
  justify-self: end;
}

.contacts img{
  width:300px;
  height:158px;
  margin-bottom: 27px;
}

.contacts-button{
  max-width: 300px;
  padding-top:11px;
  padding-bottom: 10px;
  padding-right: 61px;
  padding-left: 62px;
}

.main-footer-teh{
  background-color:var(--basic-blue);
}

.main-footer-wrapper{
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-bottom: 54px;
}

.footer-logo{ 
  padding: 20px 41px;
  background-color: var(--basic-red);
  box-shadow:0 5px 0 0 var(--basic-dark-red) ;
}

.address1{
  color: var(--basic-light-gray);
  min-width:335px;
  margin: 0;
  padding: 0;
  margin-left: 2px;
  margin-top: 22px;
}

.footer-navigation-list{
  display: flex;
  flex-wrap: wrap;
  justify-content:flex-end;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-navigation-item a{
  display: block;
  color: var(--basic-light-blue);
  margin-left: 59px;
  margin-top: 37px;
}

.footer-navigation-item:nth-child(1) a{
  margin-left: 0;
}

.footer-navigation-item1 a{
  display: block;
  color: var(--basic-yellow);
  margin-right: 59px;
  margin-top: 34px;
}

.footer-navigation-item1:nth-child(9n) a{
  margin-right: 0;
}

.footer-navigation-item:hover a,
.footer-navigation-item1:hover a{
text-decoration:underline;
}

.footer-navigation-item:active a,
.footer-navigation-item1:active a{
opacity: 0.5;
text-decoration:none;
}

.main-footer-teh1{
  background-color: var(--basic-dark-blue);
}

.main-footer-wrapper1{
  display: flex;
  justify-content: flex-start;
}

.copyright,
.feedback,
.footer-copyright{
  font-size:16px;
  line-height: 18px;
  color:var(--basic-white);
  margin: 0;
  padding: 0;
}

.copyright{
  width: 230px;
  margin-top: 36px;
  margin-right: 162px;
  margin-bottom: 34px;
}

.footer-social-list{
  display: flex;
  justify-content: space-between;
  width: 134px;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  margin-top: 34px;
  margin-left: -2px;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  background-color: var(--basic-gray-dark-blue);
}

.social-button:hover,
.social-button:active{
  background-color: var(--basic-red);
}

.feedback{
  font-style: normal;
  width: min-content;
  margin-top: 35px;
  margin-right: 51px;
  margin-left: 118px;
}

.footer-copyright{
  font-style: normal;
  width: min-content;
  margin-top: 35px;
}

.feedback-button,
.footer-copyright-button{
  color: var(--basic-yellow);
}

.feedback-button:hover,
.footer-copyright-button:hover{
  text-decoration: underline;
}

.feedback-button:active,
.footer-copyright-button:active{
  text-decoration: none;
  color: var(--basic-red);
}

.login-form input[type="email"],
.login-form input[type="text"],
.login-text{
  color: var(--basic-gray);
  background-color: var(--basic-white);
  border: 2px solid var(--basic-pale-blue);
  border-radius: 2px;
}

.login-form-name{
  margin: 0;
  margin-bottom: 11px;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-color: var(--basic-white);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.75);
  z-index: 1;
}

.modal-login {
  display: none;
  top: 120px;
  bottom: auto;
  width: 620px;
  padding-top: 46px;
  padding-bottom: 37px;
  padding-left: 80px;
  padding-right: 80px;
  border-top: 7px solid var(--basic-red);
  box-sizing: border-box;
  background: linear-gradient(to bottom,#FFFFFF 76%,#F4F4F4 76%);
}

.login-form{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.login-form-item{
  margin: 0;
  padding: 0; 
  margin-bottom: 13px;
}

.login-form-item-name,
.login-form-item-email{
  width: 220px;
}

.login-form-item-texarea{
  width: 460px;
}

.login-form-item label{
  display: block;
  margin-bottom: 13px;
}

.login-form-item input{
  font-family:"PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  background-color: transparent;
  border: 2px solid var(--basic-pale-gray);
  border-radius: 2px;
  box-sizing: border-box;
}

.login-form-item input[name*=name],
.login-form-item input[name*=email]{
  width: 220px;
  padding-top: 7px;
  padding-right: 8px;
  padding-bottom: 7px;
  padding-left: 12px;
}

.login-form-item input[name*=text]{
  width: 460px;
  padding-top: 7px;
  padding-bottom: 84px;
  padding-left: 12px;
  padding-right: 230px;
}

.login-form .button{
  display: block;
  width: 100%;
  margin-top: 74px;
  margin-right: 0;
  padding-top: 11px;
  padding-bottom: 9px;
  border: 0;
}

.modal-map {
  display: none;
  width: 943px;
  height: 560px;
  border-top: 7px solid var(--basic-red);
  box-sizing: border-box;
}

.modal-map img {
  display: block;
}

.modal-map iframe {
  border: none;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 23px;
  height: 23px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  left: 2px;
  width: 23px;
  height: 3px;
  background-color: var(--basic-red);
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal-add {
  display: none;
  top: 120px;
  bottom: auto;
  width: 620px;
  border-top: 7px solid var(--basic-red);
  box-sizing: border-box;  
  padding-top: 66px;
  background: linear-gradient(to bottom, var(--basic-white) 60%,#F4F4F4 60%);
}

.added{
  position: relative;
  font-size:24px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  margin: 0;
  padding: 0;
  padding-bottom: 67px;
}

.added::before{
  content: "";
  position: absolute;
  width: 66px;
  height: 66px;
  background-image: url("../img/icon/form/icon-mark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  top:-18px;
  left:81px;
}

.modal-wrapper{
  background-color: var(--basic-light2-gray);
} 

.modal-button{  
  font-size:14px;
  line-height: 18px;
  display: flex;
  margin: 0;
  padding: 0;
  padding-top:37px;
  padding-bottom: 37px;
  padding-left: 114px;
}

.modal-button a{
  margin-right: 10px;
}

.button-arrange{
  width: 192px;
  padding-top: 11px;
  padding-bottom: 9px;
}

.button-continue{
  width: 192px;
  padding-top: 11px;
  padding-bottom: 9px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--basic-white);
}
