:root{
  --basic-blue:#32425C;
  --basic-dark-blue:#293449;
  --basic-black:#000000;
  --basic-white:#FFFFFF;
  --basic-red:#EE3643;
  --basic-neutral:#F9F5F0;
  --basic-light-blue:#F1F5F7;
  --basic-yellow:#FFD180;
  --basic-dark-yellow:#FFBF47;
  --basic-sky-blue:#3BBCE3;
  --basic-pink:#DC91D8;
  --basic-light-green:#8ED78F;
  --basic-green: #63A63E;
  --basic-gray:#A9A9A9;
  --basic-light-gray:#F3F7F9;
  --basic-pale-gray:#E5E5E5;
  --basic-pale-blue:#C5C5C5;
  --basic-dark-red:#BA2732;
  --basic-magenta:#161D29;
  --basic-night-blue:#1D2739;
  --basic-bright-red:#CA2C37;
  --basic-linen:#F7F3EC;
}

body{
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family:"Cuprum", Arial, sans-serif;
  font-size:18px;
  line-height: 24px;
  font-weight: 400;
  background-color: var(--basic-white);
  color: var(--basic-black);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}

.page{
  width: 100%;
}

.main-navigation{
  background-color: var(--basic-light-blue);
  margin-bottom: 59px;
}

.main-header-teh{
  background-color: var(--basic-dark-blue);
}

.container{
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
  }

.main-navigation-wrapper{
  display: grid;
  grid-template-columns: 220px 1fr 1fr ;
  margin-bottom: 46px;
}

.main-header-logo{
  width: 220px;
  height: 47px;
  text-align: center;
  background-color: var(--basic-red);
  outline: 5px solid rgba(37, 101, 219, 0.7);
  outline-offset: -5px;
}

.main-header-logo:active{
  background-color: var(--basic-dark-red);
}

.search{
  width: 220px;
  justify-self:start ;
  margin: 0;
  padding: 0;
}

.order-list{
  margin: 0;
  padding: 0;
  list-style: none;
}

.order-item:last-child a{
  background-color: var(--basic-green);
}

.order-item:active a{
  color: rgba(255, 255, 255, 0.5);
}

.order-item:active:not(:last-child) a{
  background-color: var(--basic-magenta);
}

.main-navigation-wrapper1{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  margin-bottom: 40px;
  }

.header-description{
  width: 200px;
  font-size:16px;
  line-height: 23px;
  font-style: italic;
  color: var(--basic-red);
  min-width: 150px;
  margin: 0;
  padding: 0;
  justify-self: start;
}

.contact{
  margin: 0;
  padding: 0;
  justify-self: center;
}

.tel{
  font-size:21px;
  line-height: 30px;
  font-weight: 700;
  font-style: normal;
  color: var(--basic-red);
  border: 3px solid var(--basic-white);
  text-align: center;
  vertical-align: middle;
}

.address{
  font-size:14px;
  color:var( --basic-blue);
}

.user-navigation{
  margin: 0;
  padding: 0;
  font-size: 21px;
  line-height: 21px;
  list-style: none;
}

.user-navigation1{
  font-size: 16px;
  line-height: 18px;
  list-style: none;
}

.login-link,
.login-registration{
  background-color:var(--basic-white);
}

.login-link:hover,
.login-registration:hover{
  color:var(--basic-red);
}

.login-link:active,
.login-registration:active{
  color:var(--basic-pale-blue);
}

.authorization{
  background-color:var(--basic-white);
}

.authorization:active{
  color:var(--basic-pale-blue);
}

.ordering,
.personal-account{
  color:var(--basic-blue);
}

.ordering:hover,
.personal-account:hover{
  color: var(--basic-red);
}

.ordering:active,
.personal-account:active{
  color:var(--basic-pale-blue);
}

.site-navigation{
  display: grid;
  grid-template-columns: 1fr;
  margin: 0;
  padding: 0;
  background-color: var(--basic-blue);
  list-style: none;
}

.site-navigation a,
.order-item a{
  color:var(--basic-white);
}

.site-navigation a:hover{
  background-color: var(--basic-dark-blue);
}

.site-navigation a:active{
  background-color: var(--basic-night-blue);
  color: rgba(255, 255, 255, 0.5);
}

.user-navigation a {
  color:var(--basic-black);
}

.promo{
  margin-bottom: 59px;
}

.promo-list{
  font-size:24px;
  line-height: 30px;
  font-weight: 700;
  color:var(--basic-white);
}

.promo-item-material,
.promo-item-delivery{
  background-color: var(--basic-dark-yellow);
}

.promo-item-tool{
  background-color: var(--basic-sky-blue);
}

.promo-item-technic{
  background-color: var(--basic-pink);
}

.promo-item-sale{
  background-color: var(--basic-light-green);
}

.promo-button{
  font-size:14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color:var(--basic-white);
  background-color: rgba(255, 255, 255, 0.3);
}

.promo-button:hover{
  background-color: var(--basic-pale-blue);
  opacity: 0.3;
}

.promo-button:active{
  background-color: var(--basic-gray);
  opacity: 0.3;
}

.gallery-list{
  list-style: none;
  color:var(--basic-white);
  text-transform: uppercase;
}

.gallery-title{
  font-size:36px;
  line-height: 36px;
  font-weight: 700;
  background-color: var(--basic-gray);
  opacity: 0.25;
}

.gallery-description{
  background-color: var(--basic-gray);
  opacity: 0.25;
}

.button{
  background-color: var(--basic-red);
  color: var(--basic-white);
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
}

.button:hover{
  background-color: var(--basic-bright-red);
}

.button:active{
  background-color: var(--basic-dark-red);
}

.page-catalog {
  display: grid;
  column-gap: 20px;
  grid-template-columns: 220px 1fr;
  align-content: start;
}

.page-title{
  grid-column: 1/-1;
  margin-bottom: 50px;
  background-color: var(--basic-light-blue);
}

.breadcrumbs{
  order: -1;
  grid-column: 1/-1;
  font-family:"PT Sans", Arial, sans-serif;
  font-size:13px;
  line-height: 18px;
  text-transform: uppercase;
  list-style: none;
  margin-bottom: 20px;
}

.breadcrumbs a {
  color: var(--basic-black);
}

.filter-title,
.sorting-title,
.sorting-list{
  font-family:"PT Sans", Arial, sans-serif;
  font-size:13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--basic-linen);
}

.filter-name{
  font-size:17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.filter-option{
  font-size:15px;
  line-height: 19px;
  list-style: none;
}

.filter-button{
  font-size:13px;
  line-height: 18px;
  background-color: var(--basic-white);
  border: 1px solid var(--basic-pale-gray);
}

.popular-products-wrapper,
.popular-manufacturers-wrapper,
.service,
.general-information{
  margin-bottom: 70px;
}

.header-popular-products,
.header-popular-manufacturers{
  background-color: var(--basic-neutral);
}

.header-popular-products,
.header-popular-manufacturers{
  display: grid;
  grid-template-columns: 1fr min-content;
}

.title-delivery,
.title-popular-manufacturers,
.title-popular-products,
.page-title{
  font-size:30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-blue);
}

.popular-products-list,
.catalog-list{
  font-family:"PT Sans", Arial, sans-serif;
  font-weight: 700;
  list-style: none;
}

.popular-products-title,
.catalog-title{
  line-height: 20px;
}

.price{
  font-size:17px;
  line-height: 18px;
}

.price-old{
  color:var(--basic-gray);
}

.price-new{
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.popular-manufacturers-list{
  list-style: none;
}

.container-sorting{
  background-color: var(--basic-linen);
}

.sorting-list{
  list-style: none;
}

.sorting-item a{
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted var(--basic-red);
}

.sorting-item a:hover{
  color: var(--basic-black);
  border-bottom: 1px solid var(--basic-red);
}

.sorting-item a:active{
  color: var(--basic-red);
  border-bottom: none;
}

.pagination-list{
  list-style: none;
}

.pagination-item a{
  color: var(--basic-black);
  background-color: var(--basic-white);
  border: 1px solid var(--basic-pale-gray);
  border-radius: 2px;
}

.pagination-item a:hover{
  border: 1px solid var(--basic-pale-blue);
}

.pagination-item a:active{
  border: 1px solid var(--basic-red);
}

.service{
  background-color: var(--basic-light-blue);
}

.title-contacts,
.title-description,
.title-service,
.title-about-punchers{
  font-size:30px;
  line-height: 30px;
  text-transform: uppercase;
}

.description-service,
.about-punchers-description{
  font-family:"PT Sans", Arial, sans-serif;
  font-size:13px;
}

.about-punchers{
  background-color: var(--basic-light-blue);
  }

.service-list{
  list-style: none;
  font-size:21px;
  line-height: 30px;
  font-weight: 700;
}

.service-item a{
  color:var(--basic-blue);
  background-color: var(--basic-white);
}

.service-item:hover a{
  background-color: var(--basic-dark-blue);
}

.service-item:active a{
  background-color: var(--basic-white);
  color: var(--basic-blue);
}

.service-item a{
  color:var(--basic-white);
  background-color: var(--basic-blue);
}

.general-information{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}

.description-list{
  list-style:none ;
  margin: 0;
  padding: 0;
}

.contacts{
  margin: 0;
  padding: 0;
  justify-self: end;
}

.main-footer-teh{
  background-color:var(--basic-blue);
}

.main-footer-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0;
  padding: 0;
}

.footer-logo{
  background-color: var(--basic-red);
}

.address1{
  color: var(--basic-light-gray);
}

.footer-navigation-list{
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-navigation-item a{
  color: var(--basic-light-blue);
}

.footer-navigation-item1 a{
  color: var(--basic-yellow);
}

.footer-navigation-item:hover a,
.footer-navigation-item1:hover a{
text-decoration:underline;
}

.footer-navigation-item:active a,
.footer-navigation-item1:active a{
opacity: 0.5;
text-decoration:none;
}

.main-footer-teh1{
  background-color: var(--basic-dark-blue);
}

.main-footer-wrapper1{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
}

.copyright,
.feedback,
.footer-copyright{
  font-size:16px;
  line-height: 18px;
  color:var(--basic-white);
}

.copyright{
  margin: 0;
  padding-top: 36px;
  width: 230px;
}

.footer-social{
width: 135px;
justify-self: center;
text-align: center;
}

.footer-social-list{
  list-style: none;
}

.feedback{
  margin: 0;
  font-style: normal;
  width: min-content;
  justify-self: end;
  padding-top: 35px;
}

.footer-copyright{
  margin: 0;
  font-style: normal;
  width: min-content;
  justify-self: end;
  padding-top: 35px;
}

.feedback-button,
.footer-copyright-button{
  color: var(--basic-yellow);
}

.feedback-button:hover,
.footer-copyright-button:hover{
  text-decoration: underline;
}

.feedback-button:active,
.footer-copyright-button:active{
  text-decoration: none;
  color: var(--basic-red);
}

.login-form input[type="email"],
.login-form input[type="text"],
.login-text{
  color: var(--basic-gray);
  background-color: var(--basic-white);
  border: 2px solid var(--basic-pale-blue);
  border-radius: 2px;
}

.added{
  font-size:24px;
  line-height: 30px;
  font-weight: 700;
}

.button1{
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--basic-white);
}
