:root{
  --basic-blue:#32425C;
  --basic-dark-blue:#293449;
  --basic-black:#000000;
  --basic-white:#FFFFFF;
  --basic-red:#EE3643;
  --basic-neutral:#F9F5F0;
  --basic-light-blue:#F1F5F7;
  --basic-yellow:#FFD180;
  --basic-dark-yellow:#FFBF47;
  --basic-sky-blue:#3BBCE3;
  --basic-pink:#DC91D8;
  --basic-light-green:#8ED78F;
  --basic-green: #63A63E;
  --basic-gray:#A9A9A9;
  --basic-light-gray:#F3F7F9;
  --basic-pale-gray:#E5E5E5;
  --basic-pale-blue:#C5C5C5;
  --basic-dark-red:#BA2732;
  --basic-magenta:#161D29;
  --basic-night-blue:#1D2739;
  --basic-bright-red:#CA2C37;
  --basic-linen:#F7F3EC;
  --basic-neutral-gray:#EAEAEA;
}

body{
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family:"Cuprum", Arial, sans-serif;
  font-size:18px;
  line-height: 24px;
  font-weight: 400;
  background-color: var(--basic-white);
  color: var(--basic-black);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page{
  width: 100%;
}

.main-header{
  margin-bottom: 59px;
}

.main-navigation{
  background-color: var(--basic-light-blue);
  padding-bottom: 60px;
}

.main-header-teh{
  background-color: var(--basic-dark-blue);
}

.container{
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
  }

.main-navigation-wrapper{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 46px;
}

.main-header-logo{
  background-color: var(--basic-red);
  padding: 12px 56px;
}

.main-header-logo:active{
  background-color: var(--basic-dark-red);
}

.search{
  justify-self:start ;
  margin: 0;
  padding: 0;
}

.order-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 450px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.order-item{
  width: 150px;
}

.order-item a{
  color:var(--basic-white);
  display: block;
}

.order-item:last-child a{
  background-color: var(--basic-green);
  padding-right: 16px;
  padding-left: 19px;
  padding-top: 9px;
  padding-bottom: 9px;
}

.order-item:active a{
  color: rgba(255, 255, 255, 0.5);
}

.order-item:active:not(:last-child) a{
  background-color: var(--basic-magenta);
}

.order-item-bookmarks{
  position: relative;
  padding-right: 24px;
  padding-left: 43px;
  padding-top: 9px;
  padding-bottom: 9px;
}

.order-item-bookmarks::before{
  content: "";
  position: absolute;
  width: 14px;
  height: 16px;
  background-image: url("img/icon/form/Shape (2).svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 12px;
  left:20px;
  opacity: 0.3;
}

.order-item-basket{
  position: relative;
  padding-right: 26px;
  padding-left: 49px;
  padding-top: 9px;
  padding-bottom: 9px;
}

.order-item-basket::before{
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-image: url("img/icon/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 12px;
  left:26px;
  opacity: 0.3;
}

.order-item-bookmarks:hover:before,
.order-item-basket:hover:before{
  opacity: 1;
}

.order-item-bookmarks:active:before,
.order-item-basket:active:before{
  opacity: 0.3;
}

.main-navigation-wrapper1{
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  outline: 5px solid #ff0000;
  }

.header-description{
  width: 200px;
  font-size:16px;
  line-height: 23px;
  font-style: italic;
  color: var(--basic-red);
  min-width: 150px;
  margin: 0;
  padding: 0;
  justify-self: start;
  outline: 5px solid #ff0000;
}

.contact{
  margin: 0;
  padding: 0;
  justify-self: center;
  outline: 5px solid #ff0000;
}

.tel{
  font-size:21px;
  line-height: 30px;
  font-weight: 700;
  font-style: normal;
  color: var(--basic-red);
  border: 3px solid var(--basic-white);
  text-align: center;
  vertical-align: middle;
}

.address{
  font-size:14px;
  color:var( --basic-blue);
}

.user-navigation-list{
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  padding-left: 30px;
  font-size: 21px;
  line-height: 21px;
  list-style: none;
  outline: 5px solid #ff0000;
}

.user-navigation-item{
  max-width: 140px;
  display: block;
}

.user-navigation1{
  font-size: 16px;
  line-height: 18px;
  list-style: none;
}

.login-link{
  padding-left: 40px;

}

.login-link,
.login-registration{
  background-color:var(--basic-white);
}

.login-link:hover,
.login-registration:hover{
  color:var(--basic-red);
}

.login-link:active,
.login-registration:active{
  color:var(--basic-pale-blue);
}

.authorization{
  background-color:var(--basic-white);
}

.authorization:active{
  color:var(--basic-pale-blue);
}

.ordering,
.personal-account{
  color:var(--basic-blue);
}

.ordering:hover,
.personal-account:hover{
  color: var(--basic-red);
}

.ordering:active,
.personal-account:active{
  color:var(--basic-pale-blue);
}

.site-navigation-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  padding: 0;  
  background-color: var(--basic-blue);
  list-style: none;
}

.site-navigation-list a{
  color:var(--basic-white);
  display: block;
  padding-right: 24px;
  padding-left: 27px;
  padding-top: 16px;
  padding-bottom:20px;
}

.site-navigation-list a:hover{
  background-color: var(--basic-dark-blue);
}

.site-navigation-list a:active{
  background-color: var(--basic-night-blue);
  color: rgba(255, 255, 255, 0.5);
}

.user-navigation-list a {
  color:var(--basic-black);
}

.promo-block{
  margin-bottom: 59px;
}

.promo-list{
  display:grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 123px 123px 123px;
  gap: 20px;
  font-size:24px;
  line-height: 30px;
  font-weight: 700;
  color:var(--basic-white);
  margin: 0;
  padding: 0;
}

.promo-item-material,
.promo-item-delivery{
  background-color: var(--basic-dark-yellow);
}

.promo-item-tool{
  background-color: var(--basic-sky-blue);
}

.promo-item-technic{
  background-color: var(--basic-pink);
}

.promo-item-sale{
  background-color: var(--basic-light-green);
}

.promo-button{
  font-size:14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color:var(--basic-white);
  background-color: rgba(255, 255, 255, 0.3);
}

.promo-button:hover{
  background-color: var(--basic-pale-blue);
  opacity: 0.3;
}

.promo-button:active{
  background-color: var(--basic-gray);
  opacity: 0.3;
}

.promo-item-gallery{
  grid-column: span 2;
  grid-row: span 2;
  z-index: 1;
}

.gallery-title{
  font-size:36px;
  line-height: 36px;
  font-weight: 700;
  background-color: var(--basic-gray);
  opacity: 0.25;
}

.gallery-description{
  background-color: var(--basic-gray);
  opacity: 0.25;
}

.button{
  background-color: var(--basic-red);
  color: var(--basic-white);
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
}

.button:hover{
  background-color: var(--basic-bright-red);
}

.button:active{
  background-color: var(--basic-dark-red);
}

.page-catalog {
  display: grid;
  column-gap: 20px;
  grid-template-columns: 220px 1fr;
  align-content: start;
}

.page-title{
  grid-column: 1/-1;
  margin-bottom: 50px;
  background-color: var(--basic-light-blue);
}

.breadcrumbs{
  order: -1;
  grid-column: 1/-1;
  font-family:"PT Sans", Arial, sans-serif;
  font-size:13px;
  line-height: 18px;
  text-transform: uppercase;
  list-style: none;
  margin-bottom: 20px;
}

.breadcrumbs a {
  color: var(--basic-black);
}

.filter-title,
.sorting-title,
.sorting-list{
  font-family:"PT Sans", Arial, sans-serif;
  font-size:13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--basic-linen);
}

.filter{
  width: 220px;
}

.filters{
  margin: 0;
  padding: 0;
  margin-bottom: 42px;
  border: none;
}

.filters:last-child{
  margin-bottom: 34px;
}

.filter-name{
  margin-bottom: 15px;
  font-size:17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.filter-name:last-child{
  margin-bottom: 21px;
}

.filter-option{
  font-size:15px;
  line-height: 19px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-button{
  font-size:13px;
  line-height: 18px;
  background-color: var(--basic-white);
  border: 1px solid var(--basic-pale-gray);
}

.popular-products-wrapper,
.popular-manufacturers-wrapper,
.service-container,
.general-information,
.service-container{
  margin-bottom: 70px;
}

.header-popular-products,
.header-popular-manufacturers{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--basic-neutral);
  margin-bottom: 20px;
}

.title-delivery,
.title-popular-manufacturers,
.title-popular-products,
.page-title{
  margin: 0;
  padding: 0;
  font-size:30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-blue);
}

.title-popular-manufacturers,
.title-popular-products{
  padding-left:28px;
  padding-top: 29px;
  padding-bottom: 30px;
}

.title-popular-products-button,
.title-popular-manufacturers-button{
  margin-right: 14px;
  padding-left:39px;
  padding-right: 38px;
  padding-bottom: 9px;
  padding-top: 11px;
}

.popular-products-list,
.catalog-list{
  font-family:"PT Sans", Arial, sans-serif;
  font-weight: 700;
  list-style: none;
}

.popular-products-title,
.catalog-title{
  line-height: 20px;
}

.popular-products-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.popular-products-item{
  width: 220px;
  min-height: 318px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid var(--basic-neutral-gray);
  box-sizing: border-box;
}

.popular-products-item:nth-child(4n){
  margin-right: 0;
}

.popular-products-title{
  margin-top:8px;
  margin-right: 17px;
  margin-bottom: 7px;
  margin-left: 18px;
  text-align: center;
}

.popular-products-image{
  width: 184px;
  height: 164px;
  margin: 0;
}

.price{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size:17px;
  line-height: 18px;
}

.price-old{
  color:var(--basic-gray);
  margin-top: 0px;
}

.price-new{
  color: var(--basic-white);
  background-color: var(--basic-red);
  margin-top: 13px;
}

.catalog-list{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.catalog-item{
  width: 220px;
  min-height: 318px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid var(--basic-neutral-gray);
  box-sizing: border-box;
}

.catalog-item:nth-child(3n){
  margin-right: 0;
}

.catalog-title{
  margin-top:8px;
  margin-right: 17px;
  margin-bottom: 7px;
  margin-left: 18px;
  text-align: center;
}

.catalog-image{
  width: 184px;
  height: 164px;
  margin: 0;
}

.popular-manufacturers-list{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.popular-manufacturers-item{
  width: 220px;
  min-height: 145px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.popular-manufacturers-item:nth-child(4n){
  margin-right: 0;
}

.container-sorting{
  background-color: var(--basic-linen);
}

.sorting-list{
  list-style: none;
}

.sorting-item a{
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted var(--basic-red);
}

.sorting-item a:hover{
  color: var(--basic-black);
  border-bottom: 1px solid var(--basic-red);
}

.sorting-item a:active{
  color: var(--basic-red);
  border-bottom: none;
}

.pagination-list{
  list-style: none;
}

.pagination-item a{
  color: var(--basic-black);
  background-color: var(--basic-white);
  border: 1px solid var(--basic-pale-gray);
  border-radius: 2px;
}

.pagination-item a:hover{
  border: 1px solid var(--basic-pale-blue);
}

.pagination-item a:active{
  border: 1px solid var(--basic-red);
}

.service-container{
  background-color: var(--basic-light-blue); 
}

.service-container-wrapper{
  display: grid;
  grid-template-columns: 1fr  1fr 1fr;
}

.service{
  grid-column: 1/-1; 
  margin: 0;
  padding: 0;
  padding-top: 64px;
}

.delivery{
  grid-column: 2/3;
  margin: 0;
  padding: 0;
  padding-top:67px;
}

.service-list{
  grid-column: 1/2;
  padding: 0;
  margin: 0;
  padding-top: 70px;
  padding-bottom: 99px;
  list-style: none;
  font-size:21px;
  line-height: 30px;
  font-weight: 700;
}

.service-item a{
  display: block;
  width: 220px;
  color:var(--basic-blue);
  background-color: var(--basic-white);
  padding-left: 22px;
  padding-top: 14px;
  padding-bottom: 17px;
}

.service-item:hover a{
  background-color: var(--basic-dark-blue);
}

.service-item:active a{
  background-color: var(--basic-white);
  color: var(--basic-blue);
}

.service-item a{
  color:var(--basic-white);
  background-color: var(--basic-blue);
}

.title-contacts,
.title-description,
.title-service,
.title-about-punchers{
  margin: 0;
  padding: 0;
  font-size:30px;
  line-height: 30px;
  text-transform: uppercase;
}

.description-service,
.about-punchers-description{
  font-family:"PT Sans", Arial, sans-serif;
  font-size:13px;
}

.description-service1{
  padding-top: 25px;
}

.description-service2{
  padding-top: 30px;
}

.about-punchers{ 
  background-color: var(--basic-light-blue);
  }

.general-information{
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.description{
  width: 460px;
}

.title-description,
.title-contacts{
  margin-bottom: 24px;
}

.description-service{
  margin: 0;
}

.description-list{
  list-style:none ;
  margin: 0;
  padding: 0;
}

.description-item{
  margin-bottom: 12px;
}

.contacts{
  height: 356px;
  margin: 0;
  padding: 0;
  justify-self: end;
}

.contacts img{
  width:300px;
  height:158px;
}

.main-footer-teh{
  background-color:var(--basic-blue);
}

.main-footer-wrapper{
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-bottom: 54px;
}

.footer-logo{
  background-color: var(--basic-red);
}

.address1{
  color: var(--basic-light-gray);
  min-width:335px ;
}

.footer-navigation-list{
  display: flex;
  flex-wrap: wrap;
  justify-content:flex-end;
  margin: 0;
  padding: 0;
  margin-left: 58px;
  list-style: none;
}

.footer-navigation-item a{
  display: block;
  color: var(--basic-light-blue);
  padding-left: 58px;
  padding-top: 37px;
}

.footer-navigation-item:nth-child(1) a{
  padding-left: 0;
}

.footer-navigation-item1 a{
  display: block;
  color: var(--basic-yellow);
  padding-right: 58px;
  padding-top: 34px;
}

.footer-navigation-item1:nth-child(9n) a{
  padding-right: 0;
}

.footer-navigation-item:hover a,
.footer-navigation-item1:hover a{
text-decoration:underline;
}

.footer-navigation-item:active a,
.footer-navigation-item1:active a{
opacity: 0.5;
text-decoration:none;
}

.main-footer-teh1{
  background-color: var(--basic-dark-blue);
}

.main-footer-wrapper1{
  display: flex;
  justify-content: space-between;
}

.copyright,
.feedback,
.footer-copyright{
  font-size:16px;
  line-height: 18px;
  color:var(--basic-white);
  margin: 0;
  padding: 0;
}

.copyright{
  width: 230px;
  margin-top: 36px;
  margin-bottom: 34px;
}

.footer-social-list{
  display: flex;
  justify-content: space-between;
  width: 135px;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 34px;
}

.feedback{
  font-style: normal;
  width: min-content;
  margin-top: 35px;
}

.footer-copyright{
  font-style: normal;
  width: min-content;
  margin-top: 35px;
}

.feedback-button,
.footer-copyright-button{
  color: var(--basic-yellow);
}

.feedback-button:hover,
.footer-copyright-button:hover{
  text-decoration: underline;
}

.feedback-button:active,
.footer-copyright-button:active{
  text-decoration: none;
  color: var(--basic-red);
}

.login-form input[type="email"],
.login-form input[type="text"],
.login-text{
  color: var(--basic-gray);
  background-color: var(--basic-white);
  border: 2px solid var(--basic-pale-blue);
  border-radius: 2px;
}

.login-form-name{
  margin: 0;
  margin-bottom: 11px;
}

.added{
  font-size:24px;
  line-height: 30px;
  font-weight: 700;
}

.button1{
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--basic-white);
}
