:root{
  --basic-blue:#32425C;
  --basic-dark-blue:#293449;
  --basic-black:#000000;
  --basic-white:#FFFFFF;
  --basic-red:#EE3643;
  --basic-neutral:#F9F5F0;
  --basic-light-blue:#F1F5F7;
  --basic-yellow:#FFD180;
  --basic-dark-yellow:#FFBF47;
  --basic-sky-blue:#3BBCE3;
  --basic-pink:#DC91D8;
  --basic-light-green:#8ED78F;
  --basic-green: #63A63E;
  --basic-gray:#A9A9A9;
  --basic-light-gray:#F3F7F9;
  --basic-pale-gray:#E5E5E5;
  --basic-pale-blue:#C5C5C5;
  --basic-dark-red:#BA2732;
  --basic-magenta:#161D29;
  --basic-night-blue:#1D2739;
  --basic-bright-red:#CA2C37;
  --basic-linen:#F7F3EC;
  --basic-neutral-gray:#EAEAEA;
  --basic-gray-blue:#3D546F;
  --basic-gray-dark-blue:#212A3A;
}

body{
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family:"Cuprum", Arial, sans-serif;
  font-size:18px;
  line-height: 24px;
  font-weight: 400;
  background-color: var(--basic-white);
  color: var(--basic-black);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page{
  width: 100%;
}

.main-header{
  margin-bottom: 59px;
}

.main-header-catalog{
  margin-bottom: 21px;
}

.main-navigation{
  background-color: var(--basic-light-blue);
}

.main-header-teh{
  background-color: var(--basic-dark-blue);
}

.container{
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
  }

.main-navigation-wrapper{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.main-header-logo{
  background-color: var(--basic-red);
  padding: 12px 56px 7px;
  box-shadow:  0px 5px 0px var(--basic-dark-red);
}

.main-header-logo:active{
  background-color: var(--basic-dark-red);
}

.search{
  display: block;
  width: 270px;
  margin-top: 9px;
  padding-left: 42px;
  box-sizing: border-box;
}

.order-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 450px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.order-item{
  width: 150px;
}

.order-item a{
  color:var(--basic-white);
  display: block;
}

.order-item:last-child a{
  background-color: var(--basic-green);
  padding-right: 16px;
  padding-left: 19px;
  padding-top: 9px;
  padding-bottom: 9px;
}

.order-item:active a{
  color: rgba(255, 255, 255, 0.5);
}

.order-item:active:not(:last-child) a{
  background-color: var(--basic-magenta);
}

.order-item-bookmarks{
  position: relative;
  padding-right: 24px;
  padding-left: 43px;
  padding-top: 9px;
  padding-bottom: 9px;
}

.order-item-bookmarks::before{
  content: "";
  position: absolute;
  width: 14px;
  height: 16px;
  background-image: url("img/icon/form/Shape (2).svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 12px;
  left:21px;
  opacity: 0.3;
}

.order-item-basket{
  position: relative;
  padding-right: 26px;
  padding-left: 49px;
  padding-top: 9px;
  padding-bottom: 9px;
}

.order-item-basket::before{
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-image: url("img/icon/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 12px;
  left:25px;
  opacity: 0.3;
}

.order-item-bookmarks:hover:before,
.order-item-basket:hover:before{
  opacity: 1;
}

.order-item-bookmarks:active:before,
.order-item-basket:active:before{
  opacity: 0.3;
}

.main-navigation-wrapper1{
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  }

.header-description{
  width: 200px;
  font-size:16px;
  line-height: 23px;
  font-style: italic;
  color: var(--basic-red);
  min-width: 150px;
  margin: 0;
  padding: 0;
  padding-left: 30px;
  justify-self: start;
  margin-top: 42px;
  margin-right: 25px;
}

.contact{
  margin: 0;
  padding: 0;
}

.tel{  
  margin: 0;
  padding: 0;
  display: block;
  position: relative;
  font-size:21px;
  line-height: 30px;
  font-weight: 700;
  font-style: normal;
  color: var(--basic-red);
  border: 3px solid var(--basic-white);
  padding-top: 4px;
  padding-bottom: 5px;
  padding-left: 71px;
  padding-right: 47px;
  margin-top: 46px;
  box-sizing: border-box;
}

.tel::before{
  content: "";
  position: absolute;
  width: 19px;
  height: 19px;
  background-image: url("img/icon/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  left: 35px;
  top:10px;
}

.address{
  font-size:14px;
  margin: 0;
  padding: 0;
  margin-top: 3px;
  color:var( --basic-blue);
  text-align: center;
}

.user-navigation-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  font-size: 21px;
  line-height: 21px;
  list-style: none;
}

.user-navigation-item{
  padding-right: 10px;
  margin-top: 46px;
}

.user-navigation-item:last-child{
  padding-right: 0;
}

.user-navigation-item a{
  display: block; 
  padding-top: 12px;
  padding-bottom: 12px;
}

.user-navigation1{
  font-size: 16px;
  line-height: 18px;
  list-style: none;
  width: 210px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-top: 7px;
  margin-left: 45px;
}

.user-navigation1:first-child a{
  padding-right: 10px;
}

.login-link{
  margin: 0;
  padding: 0;
  padding-left: 19px;
  padding-right: 27px;
}

.login-link:hover path{
  fill:var(--basic-gray-blue);
}

.login-link:active path{
  fill:var(--basic-pale-blue);
}

.login-registration{
  padding-left: 24px;
  padding-right: 24px;
}

.login-link,
.login-registration{
  background-color:var(--basic-white);
}

.login-link:hover,
.login-registration:hover{
  color:var(--basic-red);
}

.login-link:active,
.login-registration:active{
  color:var(--basic-pale-blue);
}

.authorization{
  background-color:var(--basic-white);
  padding-right: 57px;
  padding-left: 56px;
}

.authorization:active{
  color:var(--basic-pale-blue);
}

.ordering,
.personal-account{
  color:var(--basic-blue);
}

.ordering:hover,
.personal-account:hover{
  color: var(--basic-red);
}

.ordering:active,
.personal-account:active{
  color:var(--basic-pale-blue);
}

.main-navigation-wrapper2{
padding-bottom: 65px;
}

.site-navigation-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0;
  padding: 0;  
  background-color: var(--basic-blue);
  box-shadow: 0px 5px 0px var(--basic-dark-blue);
  list-style: none;
  padding-left: 25px;
}

.site-navigation-list a{
  color:var(--basic-white);
  display: block;
  padding: 16px 28px 15px;
}

.site-navigation-list a:hover{
  background-color: var(--basic-dark-blue);
}

.site-navigation-list a:active{
  background-color: var(--basic-night-blue);
  color: rgba(255, 255, 255, 0.5);
}

.user-navigation-list a {
  color:var(--basic-black);
}

.promo-block{
  margin-bottom: 59px;
}

.promo-list{  
  margin: 0;
  padding: 0;
  display:grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 123px 123px 123px;
  gap: 20px;
  color:var(--basic-white);
}

.promo-item{
  padding-left: 23px;
  padding-top: 20px;
}

.promo-item-title{
  font-size:24px;
  line-height: 30px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  margin-bottom: 14px;
}

.promo-item-material,
.promo-item-delivery{
  position: relative;
  background-color: var(--basic-dark-yellow);
}

.promo-item-tool{
  position: relative;
  background-color: var(--basic-sky-blue);
}

.promo-item-technic{
  position: relative;
  background-color: var(--basic-pink);
}

.promo-item-sale{
  position: relative;
  background-color: var(--basic-light-green);
}

.promo-item-material::before{
  content: "";
  position: absolute;
  width: 44px;
  height: 65px;
  background-image: url("img/icon/promo-block/paint-bucket.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  left: 213px;
  top:31px;
}

.promo-item-material::after{
  content: "";
  position: absolute;
  width: 70px;
  height: 70px;
  background-image: url("img/icon/new.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  top:0;
  right:0
}

.promo-item-tool::before{
  content: "";
  position: absolute;
  width: 75px;
  height: 61px;
  background-image: url("img/icon/promo-block/drill.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  left: 194px;
  top:34px;
}

.promo-item-technic::before{
  content: "";
  position: absolute;
  width: 78px;
  height: 62px;
  background-image: url("img/icon/promo-block/special-equipment.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  left: 191px;
  top:31px;
}

.promo-item-sale::before{
  content: "";
  position: absolute;
  width: 59px;
  height: 72px;
  background-image: url("img/icon/promo-block/cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  left: 196px;
  top:26px;
}

.promo-item-delivery::before{
  content: "";
  position: absolute;
  width: 78px;
  height: 63px;
  background-image: url("img/icon/promo-block/path.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  left: 191px;
  top:32px;
}

.promo-button{ 
  display: block;
  width: 135px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size:14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color:var(--basic-white);
  background-color: rgba(255, 255, 255, 0.3);
}

.promo-button:hover{
  background-color: var(--basic-pale-blue);
  opacity: 0.3;
}

.promo-button:active{
  background-color: var(--basic-gray);
  opacity: 0.3;
}

.promo-item-gallery{
  position: relative;
  grid-column: span 2;
  grid-row: span 2;
  z-index: 1;
  background-image: url("img/slider/hammer-drill.png");
  background-repeat: no-repeat;
}

.slider-list{
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: 24px;
  margin-top: 23px;
}

.slide {
  display: none;
}

.slide-current {
  display: block;
}

.slide-title{ 
  font-size:36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
}

.slide-text{
  font-weight: 400;
  font-size:18px;
  line-height: 24px;
  padding: 0;
  margin: 0;  
  margin-bottom: 118px;
}

.slide-button{
  padding: 10px 46px;
}

.slider-controls {
  position: absolute;
  text-align: center;
  bottom: 36px;
  left:295px;
  z-index: 20;
  display: flex;
  width: 30px;
  justify-content: space-between;
}

.slider-controls button {
  padding: 0;
  width: 10px;
  height: 10px;
  background-color: var(--basic-red);
  border: 2px solid var(--basic-white);
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls .current{
  background-color: var(--basic-white);
}

.slider-button {
  position: absolute;
  text-align: center;
  bottom: 104px;
  left:24px;
  z-index: -1;
  display: flex;
  width: 576px;
  justify-content: space-between;
}

.slider-button-back{
  width: 22px;
  height: 40px;
  background-color: transparent;
  background-image: url("img/icon/form/icon-left.svg");
  background-repeat: no-repeat;
}

.slider-button-next{
  width: 22px;
  height: 40px;
  background-color: transparent;
  background-image: url("img/icon/form/icon-left.svg");
  background-repeat: no-repeat;
  transform: rotate(180deg);
}

.button{
  font-weight: 400;
  font-size:14px;
  line-height: 18px;
  background-color: var(--basic-red);
  color: var(--basic-white);
  text-transform: uppercase;
  text-align: center;
}

.button:hover{
  background-color: var(--basic-bright-red);
}

.button:active{
  background-color: var(--basic-dark-red);
}

.page-catalog {
  display: grid;
  grid-template-columns: 220px 1fr;
  column-gap: 20px;
  align-content: start;
}

.page-catalog .page-title{  
  grid-column: 1/-1;
  background-color: var(--basic-light-blue);  
  padding-top: 29px;
  padding-bottom: 30px;
  padding-left: 29px;
  margin-bottom: 20px;
}

.breadcrumbs{  
  margin: 0;
  padding: 0;
  order: -1;
  grid-column: 1/-1;
  font-family:"PT Sans", Arial, sans-serif;
  font-size:13px;
  line-height: 18px;
  text-transform: uppercase;
  list-style: none;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.breadcrumbs-item{  
  position: relative;
  margin-right: 41px;
}

.breadcrumbs-item:last-child{  
  margin-right: 0px;
}

.breadcrumbs a {  
  margin: 0;
  padding: 0;
  color: var(--basic-black);
}

.breadcrumbs-item::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 12px;
  background-image: url("img/icon/form/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  top:2px;
  right: -25px;
}

.breadcrumbs-current::after {
  display: none;
}

.filter-title,
.sorting-title,
.sorting-list{
  font-family:"PT Sans", Arial, sans-serif;
  font-size:13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--basic-linen);
}

.filter-title{
  margin: 0;
  padding-left: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 14px;
}

.filter{
  width: 220px;
}

.filters{
  margin: 0;
  padding: 0;
  margin-bottom: 42px;
  border: none;
}

.filters:last-child{
  margin-bottom: 34px;
}

.filter-name{
  margin-bottom: 15px;
  font-size:17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.filter-name:last-child{
  margin-bottom: 21px;
}

.filter-option{
  font-size:15px;
  line-height: 19px;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 35px;
}

.filter-button{
  font-size:13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--basic-white);
  border: 1px solid var(--basic-pale-gray);
  box-sizing: border-box;
  padding: 10px 79px;
}

.popular-products-wrapper,
.popular-manufacturers-wrapper,
.service-container,
.service-container{
  margin-bottom: 50px;
}

.header-popular-products,
.header-popular-manufacturers{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--basic-neutral);
  margin-bottom: 20px;
}

.title-delivery,
.title-popular-manufacturers,
.title-popular-products,
.page-title{
  margin: 0;
  padding: 0;
  font-size:30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--basic-blue);
}

.title-popular-manufacturers,
.title-popular-products{
  padding-left:28px;
  padding-top: 29px;
  padding-bottom: 30px;
}

.title-popular-products-button,
.title-popular-manufacturers-button{
  width: 192px;
  margin-right: 14px;
  padding-bottom: 9px;
  padding-top: 11px;
}

.popular-products-list,
.catalog-list{
  list-style: none;
}

.popular-products-title,
.catalog-title{
  line-height: 20px;
}

.popular-products-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.popular-products-item{
  display: flex;
  position: relative;
  flex-direction: column;
  width: 220px;
  min-height: 318px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid var(--basic-neutral-gray);
  box-sizing: border-box;
}

.popular-products-item:nth-child(2n)::after{
  content: "";
  position: absolute;
  width: 70px;
  height: 70px;
  background-image: url("img/icon/new.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 0;
  right: 0;
}


.popular-products-item:nth-child(4n){
  margin-right: 0;
}

.popular-products-title{
  font-family:"PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  margin-top:6px;
  margin-right: 17px;
  margin-bottom: 7px;
  margin-left: 18px;
  text-align: center;
}

.popular-products-title span{
  text-transform: uppercase;
}

.popular-products-image{
  order: -1;
  width: 184px;
  height: 164px;  
  padding: 0;
  margin: 0;
  margin: 6px auto 3px;

}

.price{
  font-family:"PT Sans", Arial, sans-serif;
  font-weight: 700;  
  font-size:17px;
  line-height: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;  
}

.price-old{
  color:var(--basic-gray);
  margin-top: 2px;
}

.price-new{
  color: var(--basic-white);
  background-color: var(--basic-red);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 27px;
  margin-top: 13px;
  position: relative;
}

.catalog-list{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.catalog-item{
  width: 220px;
  min-height: 318px;
  margin-right: 20px;
  margin-bottom: 18px;
  border: 1px solid var(--basic-neutral-gray);
  box-sizing: border-box;
}

.catalog-item:nth-child(3n){
  margin-right: 0;
}

.catalog-title{
  margin-top:8px;
  margin-right: 17px;
  margin-bottom: 7px;
  margin-left: 18px;
  text-align: center;
}

.catalog-image{
  width: 184px;
  height: 164px;
  margin: 0;
}

.popular-manufacturers-list{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.popular-manufacturers-item{
  width: 220px;
  min-height: 145px;
  margin-right: 20px;
  margin-bottom: 15px;
}

.popular-manufacturers-item:nth-child(4n){
  margin-right: 0;
}

.container-sorting{
  display: flex;
  flex-wrap:wrap;
  margin: 0;
  margin-bottom: 28px;
  background-color: var(--basic-linen);
  
}

.sorting-title{
  margin: 0;
  padding: 0;
  padding-left: 20px;
  padding-top: 10px;
  padding-right: 140px;
  padding-bottom: 10px;
}

.sorting-list{
  display: flex;
  flex-wrap:wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sorting-item{
  padding-top: 10px;
}

.sorting-item-price{
  padding-right: 70px;
}

.sorting-item-tipe{
  padding-right: 65px;
}

.sorting-item a{
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted var(--basic-red);
}

.sorting-item a:hover{
  color: var(--basic-black);
  border-bottom: 1px solid var(--basic-red);
}

.sorting-item a:active{
  color: var(--basic-red);
  border-bottom: none;
}

.pagination-list{
  font-family:"PT Sans", Arial, sans-serif;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 30px;
  margin-bottom: 59px;
}

.pagination-item{
  margin-right: 10px;
} 

.pagination-item a{
  display: block;
  padding: 10px 15px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  border: 2px solid var(--basic-pale-gray);
  border-radius: 2px;
}

.pagination-item-current a{
  background-color: var(--basic-red);
  color:var(--basic-white)
}

.pagination-item:last-child a{
  padding-left: 32px;
  padding-right: 31px;
}

.pagination-item a:hover{
  border: 2px solid var(--basic-pale-blue);
}

.pagination-item a:active{
  border: 1px solid var(--basic-red);
}

.service-container{
  background-color: var(--basic-light-blue); 
  margin: 0;
  padding: 0;
}

.service-container-wrapper{
  display: grid;
  grid-template-columns: 1fr  1fr 1fr;
  position: relative;
  background-image: url("img/line.png");
  background-position:233px 190px;
  background-repeat: no-repeat;
}

.service-container-wrapper::after{
  content: "";
  position: absolute;
  width: 468px;
  height: 261px;
  background-image: url("img/truck.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  top:255px;
  left:471px;
}

.service{
  grid-column: 1/-1; 
  margin: 0;
  padding: 0;
  padding-top: 64px;
 
}

.delivery{
  width: 300px;
  margin: 0;
  padding: 0;
  margin-left: 5px;
  margin-top: 67px;
}

.service-list{
  width: 240px;
  margin: 0;
  padding: 0;
  margin-top: 70px;
  padding-bottom: 99px;
  list-style: none;
  font-size:21px;
  line-height: 30px;
  font-weight: 700;
}

.service-item a{
  display: block;
  width: 220px;
  color:var(--basic-blue);
  background-color: var(--basic-white);
  padding: 0;
  margin: 0;
  padding-left: 22px;
  padding-top: 14px;
  padding-bottom: 17px;
}

.service-item:hover a{
  background-color: var(--basic-dark-blue);
}

.service-item:active a{
  background-color: var(--basic-white);
  color: var(--basic-blue);
}

.service-item a{
  color:var(--basic-white);
  background-color: var(--basic-blue);
}

.title-contacts,
.title-description,
.title-service,
.title-about-punchers{ 
  font-size:30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.title-service{
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}

.title-delivery{
  margin: 0;
  padding: 0;
  margin-bottom:30px;
}

.description-service,
.description-service-contacts,
.about-punchers-description{
  font-family:"PT Sans", Arial, sans-serif;
  font-size:13px;
}

.description-service{
  margin: 0;
  padding: 0;
}

.about-punchers{ 
  margin: 0;
  padding: 0;
  background-color: var(--basic-light-blue);
  }

.title-about-punchers{
  padding-top: 64px;
}

.about-punchers-description{
  margin: 0;
  padding: 0;
  padding-bottom: 68px;
  margin-top: 25px;
}

.general-information{
  padding-top: 70px;
  padding-bottom: 70px;
  outline: #3BBCE3 2px solid;
}

.information{
  display: flex;
  justify-content:space-between ;
}

.description{
  width: 460px;  
  margin: 0;
  padding: 0;
  outline: #3BBCE3 2px solid;
}

.title-description,
.title-contacts{
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
}

.description-service-description {
  padding-top: 25px;
}

.description-service-contacts{
  margin: 0;
  margin-bottom: 32px;
}

.description-list{
  list-style:none ;
  margin: 0;
  padding: 0;
  padding-left: 37px;
  margin-bottom: 30px;
  margin-top: 2px;
}

.description-item{
  margin-bottom: 12px;
}

.description-button{
  padding-top:11px;
  padding-bottom: 9px;
  padding-left: 40px;
  padding-right: 40px;  
}

.contacts{
  width: 300px;
  height: 356px;
  margin: 0;
  padding: 0;
  justify-self: end;
  outline: #3BBCE3 2px solid;
}

.contacts img{
  width:300px;
  height:158px;
  margin-bottom: 25px;
}

.contacts-button{
  max-width: 300px;
  padding-top:11px;
  padding-bottom: 9px;
  padding-right: 61px;
  padding-left: 61px;
}

.main-footer-teh{
  background-color:var(--basic-blue);
}

.main-footer-wrapper{
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-bottom: 54px;
}

.footer-logo{ 
  padding: 20px 41px;
  background-color: var(--basic-red);
  box-shadow:0 5px 0 0 var(--basic-dark-red) ;
}

.address1{
  color: var(--basic-light-gray);
  min-width:335px;
  margin: 0;
  padding: 0;
  margin-top: 22px;
}

.footer-navigation-list{
  display: flex;
  flex-wrap: wrap;
  justify-content:flex-end;
  margin: 0;
  padding: 0;
  margin-left: 58px;
  list-style: none;
}

.footer-navigation-item a{
  display: block;
  color: var(--basic-light-blue);
  padding-left: 58px;
  padding-top: 37px;
}

.footer-navigation-item:nth-child(1) a{
  padding-left: 0;
}

.footer-navigation-item1 a{
  display: block;
  color: var(--basic-yellow);
  padding-right: 58px;
  padding-top: 34px;
}

.footer-navigation-item1:nth-child(9n) a{
  padding-right: 0;
}

.footer-navigation-item:hover a,
.footer-navigation-item1:hover a{
text-decoration:underline;
}

.footer-navigation-item:active a,
.footer-navigation-item1:active a{
opacity: 0.5;
text-decoration:none;
}

.main-footer-teh1{
  background-color: var(--basic-dark-blue);
}

.main-footer-wrapper1{
  display: flex;
  justify-content: flex-start;
}

.copyright,
.feedback,
.footer-copyright{
  font-size:16px;
  line-height: 18px;
  color:var(--basic-white);
  margin: 0;
  padding: 0;
}

.copyright{
  width: 230px;
  margin-top: 36px;
  margin-right: 162px;
  margin-bottom: 34px;
}

.footer-social-list{
  display: flex;
  justify-content: space-between;
  width: 135px;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  margin-top: 32px;
  margin-right: 116px;

}

.social-button {
  display: flex;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--basic-gray-dark-blue);
}

.social-button:hover,
.social-button:active{
  background-color: var(--basic-red);
}

.feedback{
  font-style: normal;
  width: min-content;
  margin-top: 35px;
  margin-right: 51px;
}

.footer-copyright{
  font-style: normal;
  width: min-content;
  margin-top: 35px;
}

.feedback-button,
.footer-copyright-button{
  color: var(--basic-yellow);
}

.feedback-button:hover,
.footer-copyright-button:hover{
  text-decoration: underline;
}

.feedback-button:active,
.footer-copyright-button:active{
  text-decoration: none;
  color: var(--basic-red);
}

.login-form input[type="email"],
.login-form input[type="text"],
.login-text{
  color: var(--basic-gray);
  background-color: var(--basic-white);
  border: 2px solid var(--basic-pale-blue);
  border-radius: 2px;
}

.login-form-name{
  margin: 0;
  margin-bottom: 11px;
}

.added{
  font-size:24px;
  line-height: 30px;
  font-weight: 700;
}

.button1{
  text-transform: uppercase;
  color: var(--basic-black);
  background-color: var(--basic-white);
}
